<section class="hero is-fullheight is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered ">
        <div class="column is-one-third">
          <article class="card is-rounded">
            <header class='card-header'>
              <p class='card-header-title is-centered'>Forgot your password?</p>
            </header>

            <div class="card-content">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email, class: 'label' %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
                </div>

                <div class="actions">
                  <%= f.submit "Send me instructions", class: 'button is-primary is-fullwidth is-medium' %>
                </div>
              <% end %>
            </div>

            <div class="card-footer">
              <%= render "devise/shared/links" %>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>
