<section class="hero is-fullheight is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered ">
        <div class="column is-one-third">
          <article class="card is-rounded">
            <header class='card-header'>
              <p class='card-header-title is-centered'>Fitness Tracker</p>
            </header>

            <div class="card-content">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email, class: 'label' %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
                </div>

                <div class="field">
                  <%= f.label :password, class: 'label' %>
                  <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me, class: 'checkbox' %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Log in", class: 'button is-primary is-fullwidth is-medium' %>
                </div>
              <% end %>
            </div>

            <div class="card-footer">
              <%= render "devise/shared/links" %>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>