<p id="notice"><%= notice %></p>

<p class='title'>
  <%= @exercise.name %>
</p>
<div class='is-divider'></div>
<p>
  <strong>User:</strong>
  <%= @exercise.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>
<div class='margin-10'></div>
<div class='field is-grouped'>
  <div class='control'>
    <%= link_to 'Edit', edit_exercise_path(@exercise), class: 'button is-link' %>
  </div>
  <div class='control'>
    <%= link_to 'Back', exercises_path, class: 'button' %>
  </div>
</div>
